[Desktop Entry]
Type=Application
Name=Calendar
GenericName=Calendar
Comment=A calendar for the COSMIC Desktop
Categories=Office;Calendar;
Exec=xcalendar %u
Icon=dev.xarbit.apps.Calendar
Terminal=false
StartupNotify=true
StartupWMClass=xcalendar
Keywords=calendar;event;appointment;reminder;ical;ics;
MimeType=text/calendar;text/x-vcalendar;application/ics;x-scheme-handler/webcal;x-scheme-handler/ics;x-scheme-handler/calendar;
